:root {
    --cell_size: 32px;
    --cell_mea_size: 46px;
    --cell_height: 26px;
}

.dotpar {
    margin: auto;
}

.dotpar, #td {
    border-style: double;
    border-bottom: 1pt solid black;
    cursor: default;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    border: 1pt solid black;
    background: white;
    color: rgb(49, 17, 210);
    width: 50pt;
    height: 50pt;
}

.matrix {
    margin: auto;
    /* border-collapse: none; */
    /* border-radius: 100%; */
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    font-size: 18pt;
    border: 2pt solid black;
}

.sectionHeading {
    margin: auto;
    text-align: center;
    border: 1px solid #333;
    background-color: #333;
    color: rgb(255, 255, 255);
}